:root {
  --color-background-source: 255, 255, 255;
  --color-foreground-source: 45, 45, 45;
  --color-foreground-muted-source: 120, 120, 120;

  --color-background: rgb(var(--color-background-source));
  --color-foreground: rgb(var(--color-foreground-source));
  --color-foreground-muted: rgb(var(--color-foreground-muted-source));

  --color-primary-background-source: 36, 170, 204;
  --color-primary-default-source: 0, 105, 125;
  --color-primary-foreground-source: 255, 255, 255;

  --color-primary-background: rgb(var(--color-primary-background-source));
  --color-primary-default: rgb(var(--color-primary-default-source));
  --color-primary-foreground: rgb(var(--color-primary-foreground-source));

  --color-secondary-background-source: 206, 136, 55;
  --color-secondary-default-source: 242, 88, 0;
  --color-secondary-foreground-source: 255, 255, 255;

  --color-secondary-background: rgb(var(--color-secondary-background-source));
  --color-secondary-default: rgb(var(--color-secondary-default-source));
  --color-secondary-foreground: rgb(var(--color-secondary-foreground-source));

  --spacing-factor: 2;
  --spacing-0: 0rem;
  --spacing-1: 0.25rem;
  --spacing-2: calc(var(--spacing-factor) * var(--spacing-1));
  --spacing-3: calc(var(--spacing-factor) * var(--spacing-2));
  --spacing-4: calc(var(--spacing-factor) * var(--spacing-3));
  --spacing-5: calc(var(--spacing-factor) * var(--spacing-4));
  --spacing-6: calc(var(--spacing-factor) * var(--spacing-5));

  --font-family-primary: 'Open Sans', sans-serif;
  --font-family-secondary: 'Assistant', sans-serif;

  --font-weight-default: 400;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;

  --font-size-factor: 1.55;

  --font-size-1: 0.50rem;
  --font-size-2: calc(var(--font-size-factor) * var(--font-size-1));
  --font-size-3: calc(var(--font-size-factor) * var(--font-size-2));
  --font-size-4: calc(var(--font-size-factor) * var(--font-size-3));
  --font-size-5: calc(var(--font-size-factor) * var(--font-size-4));
  --font-size-6: calc(var(--font-size-factor) * var(--font-size-5));

  --animation-duration-fast:    .1s;
  --animation-duration-default: .2s;
  --animation-duration-slow:    .5s;

  --animation-options-fast: var(--animation-duration-fast) ease-in-out;
  --animation-options-default: var(--animation-duration-default) ease-in-out;
  --animation-options-slow: var(--animation-duration-slow) ease-in-out;
}

@media screen and (max-width: 800px) {
  :root {
    --spacing-factor: 1.70;
    --font-size-factor: 1.50;
  }
}
