.header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: var(--spacing-3);
  z-index: 1;
  position: fixed;
  top: 0px; left: 0px;
  width: 100%;
  background-color: var(--color-background);
  border-bottom: var(--spacing-0) solid transparent;
  transition: all var(--animation-duration-slow) ease-in-out;
}

.header--shrunk {
  background-color: var(--color-background);
  padding: var(--spacing-2);
}

.header__link-container {
  display: flex;
  align-items: center;
}

.header__link {
  padding: 0 var(--spacing-2);
  margin: 0 var(--spacing-1);
  border-radius: var(--spacing-1);
  font-size: var(--font-size-3);
  cursor: pointer;
  transition: all var(--animation-duration-default) ease-in-out;
}

.header__link--active {
  color: var(--color-secondary-default);
}

.header__link:hover, .header .header__link:active {
  color: var(--color-primary-default);
}

.header__link--bold {
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-extra-bold);
  font-size: var(--font-size-4);
}
