header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed !important;
  top: 0px;
  width: 100%;
  z-index: 5;

  .header__background {
    position: absolute;
    top: 0px; left: 0px;
    height: 100%; width: 100%;
    background-color: var(--color-background-default);
    opacity: 0.85;
    backdrop-filter: blur(2px);
  }

  .header__logo {
    font-size: var(--font-size-3);
    margin: var(--spacing-4);
  }

  .header__link {
    position: relative;
    display: inline-block;
    margin: var(--spacing-4);
    font-family: var(--font-family-secondary);
    transition: opacity .25s ease-in-out;
    cursor: pointer;
  }
}
