@gradient-diff: 5%;

.color-primary(@color: @color-white) {
  background-color: @color-primary;
  color: @color-white;
}
.color-gradient-primary(@color: @color-white) {
  background: linear-gradient(
    180deg, @color-primary, darken(@color-primary, @gradient-diff)
  );
  color: @color;
}

.color-secondary(@color: @color-white) {
  background-color: @color-secondary;
  color: @color-white;
}
.color-gradient-secondary(@color: @color-white) {
  background: linear-gradient(
    180deg, @color-secondary, darken(@color-secondary, @gradient-diff)
  );
  color: @color;
}

.color-white(@color: @color-dark-gray) {
  background-color: @color-white;
  color: @color;
}
.color-gradient-white(@color: @color-dark-gray) {
  background: linear-gradient(
    180deg, @color-white, darken(@color-white, @gradient-diff)
  );
  color: @color;
}

.color-dark-gray(@color: @color-primary) {
  background-color: @color-dark-gray;
  color: @color;
}

.color-black(@color: @color-white) {
  background-color: @color-black;
  color: @color;
}

.animate(@animation) {
  animation: @animation;
}

.transition(@transition) {
  transition: @transition;
}

.transform(@transform) {
  transform: @transform;
}

.border(@color, @width: 1px) {
  border: @width solid @color;
}

.shadow(@shadow) {
  box-shadow: @shadow;
}
