@color-white: rgb(245, 245, 245);
@color-black: rgb(25, 25, 25);

@color-gray: rgb(130, 130, 130);
@color-dark-gray: rgb(60, 60, 60);

@color-primary: rgb(65, 165, 210);
@color-secondary: rgb(249, 88, 88);
